* {
    font-family: "Arial Black", serif;
    color: #1d1b1f;
}

#page {
    padding: 20px 70px 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#header {
    text-align: center;
}

#table {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    border: 1px solid #1d1b1f;
    border-top-width: 0;
}

.cell {
    flex: 1;
    padding: 15px;
}

.first .cell {
    font-weight: bold;
    color: white;
    background-color: #1d1b1f;
}

#loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin-top: 70px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
